*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.landing-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('/assest/images/rice.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-position: top;
}

.overlay {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    background-color: white;
    position: absolute;
    margin: 25px 66px;
    color: black;
    padding: 8px;
    transform: scaleX(-1);
    border-radius: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35px;
    left: 70px;
}

.nav_hero {
    display: flex;
    flex-direction: column;
    width: 60%;    
}

.navbar {
    position: absolute;
    top: 36px;
    left: 30%;
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.introduction {
    margin: 0 auto;
    text-align: center;    
}

.introduction h4 {
    font-size: 18px;
    color: black;
    margin-top: 90px;
}

.introduction h1 {
    font-size: 38px;
    color: #1A4204;
    font-weight: 500;
    margin-bottom: 10px;
}

.introduction h3 {
    font-size: 24px;
    color: black;
    margin-bottom: 40px;
}

.introduction p {
    font-size: 15px;
    font-family: calibri;
    color: black;
    margin-bottom: 10px;
    margin: 0 120px;   
    text-align: center;
    line-height: 1.2;
}

.get-started-btn-div{
    margin-top: 60px;
}

#landing_page_btn{
    width: 40%;
    height: 50px;
    font-size: 14px;
    background-color: greenyellow;
    padding: 15px 50px;
    color: brown;
}

.rice-overlay {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background: url('/assest/images/rice.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    padding: 25px;
    border-radius: 10px;
}

.rice-overlay .subscriber-signup-btn{
    transform: scaleX(-1);
}

.rice-overlay .transparent-framme{
    height: 50%;
    width: 40%;
    margin: 0 auto;

}

.services-section {
    width: 100%;
    height: 1041px;
    background-color: white;
    text-align: center;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.features {
   display: flex;
   flex-direction: column;
   width: 40%;
   height: 100%;
   margin: 300px 80px;
   text-align: left;
}

.features h1 {
    font-size: 40px;
    color: #1A4204;
    margin-bottom: 10px;
    font-weight: 700;

}

.features h2 {
    font-size: 28px; 
    color: #1A4204;
    font-weight: 400;  
    margin-bottom: 40px;;  
}

.features p {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    line-height: 2.0;   
}

.btn-get-started {
    width: 100%;
    height: 80px;
    background-color: #F1F90A;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
}

.feature_images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 40px;
}

.weather-forecast {
    width: 40%;
    height: 294px;
    margin-top: 151px;
}

.analytics-image {
    width: 55%;
    height: 40%;
    margin-top: 30px;
}

.ai-chat-assistant {
    background-color: #292E3C;
    width: 60%;
    height: 545px;
    color: white;
    padding: 20px;
}

.additional-rectangle {
    background-color: #292E3C;
    width: 35%;
    height: 80px;
    margin-top: 465px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: small;
    padding-top: 30px;
}



.testimonies-section {
    width: 100%;
    height: 1105px;
    background-color: #C6AC46;
}

.evidence {
    text-align: center;
    color: black;
    font-size: 28px;
    line-height: 1.5;
    padding-top: 100px;
    
}

.evidence h1 {
    font-size: 80px;
}

.evidence p {
    padding: 0px 200px;
    font-size: 28px;
}

.testimonies_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px;
}

.Jones {
    background-color: #26282F;
    width: 30%;
    height: 524px;
    margin-top: 14px;
}

.Jones-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 20px;
    
}

.Faeren {
    background-color: #26282F;
    width: 30%;
    height: 550px;
}

.Faeren-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.Christian {
    background-color: #26282F;
    width: 30%;
    height: 524px;
    margin-top: 14px;
}

.Chris-img {
    width: 130px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.details {
    text-align: left;
    color: rgb(231, 231, 231);
    padding-top: 30px;
    margin-left: 20px;
    line-height: 1.5;
    
}

.details h1{
    font-size: 24px;    
}

.details h3{
    font-size: 16px;
    margin-bottom: 20px;    
}

.details p{
    font-size: 16px;
    margin-right: 60px;  
    color: #ccc9c9;  
}


/* Footer section */
.footer-section {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #26282F;
    text-align: center;
    color: white;
}


.footer-logo {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 8px;    
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.footer-logo h3{
    margin: 0px;
}

.footer-section h2{
   padding: 0 50px;   
   margin-top: 30px;
   font-size: 24px;
   }

.cta-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%; 
    margin: 50px auto;
}

.footer-input {
    width: 69%;
    height: 55px;
    border: 2px solid #FFFFFF;
    font-size: 20px;
    border-radius: 100px;
    background-color: #26282F;
    padding: 25px;
}

.footer-cta {
    width: 30%;
    height: 59px;
    background-color: #F1F90A;
    color: #1A4204;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
}

.footer-line{
    width: 90%;
    border: 1px solid white;
    margin: 5px;
    margin-top: 30px;
}

.footer-menu {
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 60px; 
}

.footer-section p{
    margin:5px;
    font-size: 14px;
}
