.main{
    width: 400px;
    /* background-color: rgb(240, 240, 240); */
    border-style: solid;
    border: none;
    border-radius: 8px;
    font-family: Helvetica,Arial,  sans-serif;
}
.agroalert-logo{width: 50px;
    border-radius: 25px;
    align-content: center;}

    .code-form{
        background-color: aquamarine;
        width:50px;
    }

.code-input{
        /* box-shadow: 0.1px 1px 3px rgba(34, 33, 35, 0.151); */
        overflow: hidden;
        border-style: solid;
        width:50px;
        height: 50px;
        border-radius: 8px;
        font-weight: bolder;
        font-size: xx-large;
        text-align: center;
    }
